.content {
  background: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}
.logo {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 10vh;
}

.games {
  display: flex;
  flex-direction: row;
}
.games div {
  text-align: center;
  margin: auto;
}

.logo p {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 12px;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */

  color: #ffffff;
  margin-bottom: 0px;
}
p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  font-size: 24px;
  margin-top: 10px;
  color: #ffffff;
}

button {
  align-self: center;
  width: 332px;
  height: 72px;

  border-radius: 100px;
  border-block: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s;
  cursor: pointer;
}

.button--mimas {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  overflow: hidden;
  color: #fff;
}

.button {
  pointer-events: auto;
  cursor: pointer;

  /* border: none; */
  padding: 1.5rem 3rem;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  background: #b10000;
  line-height: 28px;
  font-size: inherit;
  position: relative;
  display: inline-block;

  border-radius: 100px;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--mimas span {
  position: relative;
  /* mix-blend-mode: difference; */
}

.button--mimas::before {
  content: "";
  background: #000;

  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button--mimas:hover::before {
  transform: translate3d(100%, 0, 0);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
